<!DOCTYPE html>
<html lang="<%= LANG %>">
  <%- include ./layouts/index/head.ejs %>
  <body>
    <%- include ./layouts/index/header.ejs %> <%- include(inc) %> <%- include ./layouts/index/footer.ejs %>
  </body>
</html>
